{% extends "base.html" %}
{% block content %}
    <h1>Social Media</h1>

    <div class="staff-grid"> 
    <!--    <a href="https://twitter.com/YOUR_HANDLE" target="_blank" style="text-decoration:none;">
            <div class="staff-card">
                <img src="https://cdn-icons-png.flaticon.com/512/3670/3670151.png" class="staff-img" style="border-radius:0; border:none;">
                <h3>Twitter</h3>
                <div class="staff-role">Updates</div>
            </div>
        </a>
    -->

        <a href="https://youtube.com/@MajikkuNetwork" target="_blank" style="text-decoration:none;">
            <div class="staff-card">
                <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" class="staff-img" style="border-radius:0; border:none;">
                <h3>YouTube</h3>
                <div class="staff-role">Trailers, BTS videos</div>
            </div>
        </a>
<!--
        <a href="https://tiktok.com/@YOUR_HANDLE" target="_blank" style="text-decoration:none;">
            <div class="staff-card">
                <img src="https://cdn-icons-png.flaticon.com/512/3046/3046121.png" class="staff-img" style="border-radius:0; border:none;">
                <h3>TikTok</h3>
                <div class="staff-role">Shorts</div>
            </div>
        </a>

        <a href="https://instagram.com/YOUR_HANDLE" target="_blank" style="text-decoration:none;">
            <div class="staff-card">
                <img src="https://cdn-icons-png.flaticon.com/512/3955/3955024.png" class="staff-img" style="border-radius:0; border:none;">
                <h3>Instagram</h3>
                <div class="staff-role">Gallery</div>
            </div>
        </a>
    -->
    </div>
{% endblock %}